<table>
	<tbody>
		<tr>
			<td>{{noteUpdate.id}}</td>
			<td><input type="text" ng-model="noteUpdate.description"></input></td>
			<td><input type="text" ng-model="noteUpdate.startDate"></input></td>
			<td><input type="number" ng-model="noteUpdate.period"></input></td>
			<td><input type="text" ng-model="noteUpdate.preferredWorkingHourPerDay"></input></td>
			<td><button ng-click="cancel()"
					style="padding-left: 50px; padding-right: 50px">cancel</button></td>
			<td><button ng-click="saveNote()"
					style="padding-left: 50px; padding-right: 50px">save</button></td>
		</tr>
	</tbody>

</table>