
<input type="date" ng-model="startDate" />
<input type="date" ng-model="endDate" />
<button ng-click="filterNotes()"
	style="padding-left: 50px; padding-right: 50px">filter</button>


Note of: {{userName}}<br/>

<Png-repeat="row in rows">
	date: {{row.date}}: <br /> 
	total time: {{row.totalPeriod}}<br />
	notes: <br/>
	<ul ng-repeat="note in row.notes">
		<li>{{note}}</li>
	</ul>
</p>

<!-- <p>Date = {{ startDate}}</p> -->

<!-- {{startDate2}} -->


<!-- <p>Date = {{ endDate | date: "yyyy-MM-dd" }}</p> -->

<!-- {{startDate3}} -->
