 Notes of: {{userName}}
 
 
<table>
	<thead>
		<!-- <tr><th colspan="4">Your Notes</th></tr>
       -->
		<tr>
			<th>Id &nbsp;</th>
			<th>Description &nbsp;</th>
			<th>start Date &nbsp;</th>
			<th>period &nbsp;</th>
			<th>preferred Working Hour Per Day</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="note in notes" ng-style = "set_color(note)">
			<td>{{note.id}} &nbsp;</td>
			<td>{{note.description}} &nbsp;</td>
			<td>{{note.startDate}} &nbsp;</td>
			<td>{{note.period}} &nbsp;</td>
			<td>{{note.preferredWorkingHourPerDay}} &nbsp;</td>
			<td><button ng-click="deleteNote($index)" style="padding-left: 50px;
				padding-right: 50px">delete
				</button>
			</td>
			<td><button ng-click="updateNote($index)" style="padding-left: 50px;
				padding-right: 50px">update
				</button>
			</td>
		</tr>
	</tbody>
</table>

<button ng-click="addNote()" style="padding-left: 50px;
				padding-right: 50px">add
				</button>

				 {{notes[0].temp}}
				